<!-- Adapted module from: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
Date: 06/06/2022 -->

<html>

<head>

            <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        th:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

	<title>Edit Trip History</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table> 
            <caption> Editing Trip History: </caption>
            <!-- Access TripHistories tuple passed from app.py -->
            {% if TripHistories %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in TripHistories[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" TripHistories-field="{{ key }}" TripHistories-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in TripHistories -->
                    {% for item in TripHistories %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

<br>


        <div id="edit">
            <!-- form to edit Trip History in TripHistories-->
            <form id="editTripHistory" action="/edit_triphistory/{{TripHistories[0].tripHistoryID}}" method="post">
                <legend><strong>Edit Trip History</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of tripHistory to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the trip history we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{TripHistories[0].tripHistoryID}}" class="form-control" id="tripHistoryID" name="tripHistoryID" required>

                    <label for="make">Passenger ID:</label>
                    <input type="number" value="{{TripHistories[0].passengerID}}" class="form-control" id="passengerID" name="passengerID" required>

                    <label for="make">Trip ID:</label>
                    <input type="number" value="{{TripHistories[0].tripID}}" class="form-control" id="tripID" name="tripID" required>


                </fieldset>
                <input type="submit" value="Edit Trip History" name="Edit_TripHistory" class="btn btn-primary" style="margin:.5rem;">
                <a href='/triphistories'><input class="btn" type="button" value="cancel"></a>
            </form>


</html>