<html>
    <head>
            <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        th:nth-child(even) {
          background-color: #dddddd;
        }

        .center {
  		margin-left: auto;
  		margin-right: auto;
		}

    		h1 {
  		text-align: center;
		}

    		h2 {
  		text-align: center;
		}
        </style>
    </head>
<body>
    <h1>Welcome to the Royal Cruise Lines Database</h1>

    <h2>Navigate Through Our Database</h2>

 	<table class=center>
            <tr>
              <th><a href="passengers">Passengers</th>
              <th><a href="trips">Trips</a></th>
              <th><a href="triphistories">Trip Histories</a></th>
              <th><a href="cruiseships">Cruise Ships</a></th>
              <th><a href="cabins">Cabins</a></th>
              <th><a href="mealplans">Meal Plans</th>

</body>
</html>
